<div class="container">
	<div class="row">

		<%= simple_form_for @book, :html=> { :multipart => true } do |f| %>
		  <%= f.select :category_id, @categories %>
		  <%= f.file_field :book_img %>
		  <%= f.input :title %>
		  <%= f.input :description %>
		  <%= f.input :author %>

		  <%= f.button :submit %>
		  
		<% end %>
	</div>
</div>